.Box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.ContentInvisible {
  display: none !important;
}

.ToggleIcon {
  fill: var(--basic-dark);
  align-self: flex-end;
  margin-right: 0;
}

#MainContent {
  /* height: 90%; */
  display: flex;
  flex-direction: row;
  overflow: auto;
}

/* Topic Bar */
  .TopicTab {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--basic-medium);
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    font-weight: bolder;
  }

  .TopicBar {
    display: flex;
    width: 100%;
    background-color: var(--brand-medium);
    flex-basis: content;
    position: sticky;
    top: 0;
  }

  .TabContainer {
    float: left;
    background-color: var(--brand-medium);
    padding: 0.8% 0% 0.2% 0.8%;
  }

  .ActiveTab {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
  }
/* Topic Bar */

/* Vis Tools */
  .VisContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    height: 91%;
    margin: 2%;
    background-color: var(--basic-light);
    overflow: hidden;
  }

  .TitleBox {
    color: var(--basic-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 2vw;
    border-bottom: 3px solid var(--basic-light);
    background-color: var(--basic-medium);
    position: sticky;
    top: 0;
    min-height: 95px;
  }

  .BoxHeader {
    font-size: 20px;
    font-weight: 500;
  }

  .VariableName {
    font-style: italic;
  }

  .VisItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5vh;
    gap: 2.5vh;
    overflow-y: scroll;
    padding-bottom: 0;
  }

  .SummaryBox {
    display: flex;
    color: var(--basic-dark);
    background-color: var(--background);
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
  }

  .SummaryItem {
    padding: 4%;
  }

  .SummaryValue {
    color: var(--accent);
    font-weight: bold;
    font-size: 25px;
  }

  .SummaryDescription {
    color: var(--basic-dark);
    font-size: 12px;
  }
/* Vis Tools */

/* Filter */
  .FilterDropdown {
    width: 100%;
    color: var(--basic-dark);
    background-color: var(--background);
    border: none;
    padding: 0% 3%;
    min-height: 35px;
    border-radius: 5px;
  }

  #FilterBox {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 91%;
    margin: 2%;
    margin-right: 0%;
    overflow: hidden;
    background-color: var(--basic-light);
    border-bottom: 3px solid var(--basic-light);
  }

  #FilterHead {
    display: flex;
    background-color: var(--basic-medium);
    border-bottom: 3px solid var(--basic-light);
    color: var(--basic-dark);
    padding-left: 2vw;
    padding: 5%;
    position: sticky;
    top: 0;
    min-height: 95px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
  }

  #FilterHeadItems {
    display: flex;
    margin: auto auto;
  }

  #FilterIcon {
    width: 10%;
    fill: var(--basic-dark);
    stroke: var(--basic-dark);
    margin-right: 5%;
    /* height: 80%; */
  }

  #FilterItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5vh;
    overflow-y: scroll;
    padding: 2.5vh;
    padding-bottom: 0;
  }

  #MapContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  #MapToggle {
    width: 100%;
    min-height: 50px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    border-radius: 5px 5px 0 0;
    color: var(--basic-dark);
    /* font-style: italic; */
  }

  #FilterMap {
    width: 100%;
    min-height: 300px;
  }

  #FilterMapBox {
    display: flex;
    width: 100%;
    background-color: var(--background);
    min-height: 300px;
    border-top: 2px solid var(--basic-medium);
    border-radius: 0 0 5px 5px;
  }

  #SelectedDesc {
    font-size: 16px;
    color: var(--basic-dark);
    border: 1px solid var(--basic-medium);
    padding: 2%;
    height: 30%;
    min-height: 120px;
    overflow: hidden;
  }

  #SelectedBox {
    font-size: 12px;
    font-weight: lighter;
    border: 1px solid var(--basic-medium);
    padding: 2%;
    min-height: 70%;
    max-height: 90%;
    overflow-y: scroll;
  }
/* Filter */

@media (max-width: 480px) {
  .TabContainer {
    display: flex;
    float: none;
    width: 100%;
    height: 150px;
    min-height: 100px;
    padding: 0%;
    border: 0.8px solid var(--brand);
    align-items: center; 
    padding-left: 2%;
  }

  .TopicBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background-color: var(--basic-medium);
    overflow-y: scroll;
    flex-basis: auto;
  }

  .TopicTab {
    font-weight: normal;
    font-size: 20px;
  }

  .TopicSelected {
    text-decoration: none;
  }

  .TitleBox {
    padding-left: 2%;
  }

  .BoxHeader {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
    padding: 2%;
    font-weight: normal;
  }

  .VariableName {
    font-weight: normal;
  }

  /* .VisItems {
    padding: 0;
  } */

  .SummaryBox {
    flex-direction: column;
    background-color: var(--basic-light);
  }

  .VisContainer {
    height: 65%;
    min-height: 65%;
    margin: 0%;
    border: none;
  }

  #MainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #FilterBox {
    font-size: 12px;
    width: 100%;
    margin: 0%;
    border: none;
    border-top: 3px solid var(--basic-medium);
    height: fit-content;
    max-height: 100%;
    align-self: flex-end;
    justify-content: space-between;
    overflow: visible;
  }

  #FilterHead {
    order: 99;
    align-self: flex-end;
    border-top: 2px solid var(--basic-light);
    min-height: 80px;
    height: 80px;
    font-weight: normal;
    border-bottom: none;
  }

  #FilterHeadItems {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0.8;
  }

  #FilterItems {
    position: relative;
  }
}