.Box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E8E8E8;
}

.NavbarUva {
    background-color: #232D4B;
    color: #F1F1EF;
    font-size: 18px;
}

.NavTab {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #F1F1EF;
    font-weight: lighter;
}

.NavbarBrand {
    font-size: 20px;
    margin: 2%;
    color: #F1F1EF;
    vertical-align: bottom;
}

.CurrentPage {
    font-weight: bold;
}

#NavContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}

@media (max-width: 480px) {
    #DashboardName {
        font-size: 16px;
        font-weight: bold;
    }

    /* #NavContainer {
        filter: drop-shadow(#666666 0px 2px 10px);
    } */
}
